@import "tailwindcss";
@source "../index.html";

@theme {
  --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;


  --font-Jost: "Jost", "sans-serif";
  --font-Lobster: "Lobster", "sans-serif";


  --animate-movingY: move 3s linear infinite;

  --animate-rotating: rotate 15s linear infinite;

  --animate-scalingUp: scaleUp 3s linear infinite;


  @keyframes move {
    50% {
      transform: translateY(-1rem)
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg)
    }


    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(0.8)
    }

    50% {
      transform: scale(1.1)
    }

    100% {
      transform: scale(0.8)
    }

  }



}

body {
  @apply bg-green-950 text-white font-Jost tracking-wide
}

.nav-link {
  @apply text-lg font-bold duration-300
}

.nav-link:hover {
  @apply text-yellow-500
}

/* -------home------ */

section {
  @apply py-20 md:py-28
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold
}

/* --button--- */

.btn {
  @apply border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300;
}

.btn span {
  @apply font-bold;
}

.btn:hover {
  @apply opacity-85
}

.btn_outline {
  @apply bg-transparent border
}

.btn_outline:hover {
  @apply bg-yellow-500
}

/*----- about us ----*/
.title {
  @apply font-Lobster text-yellow-500;
}

h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}

h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

/* Popular */

.popular_card:hover img {
  @apply -top-10
}

/* review */
.swiper {
  height: 290px;

}





/* @media (width>=--breakpoint-sm) {
  .check {
    background-color: brown;
  }
} */



.container {
  margin-inline: auto;
  padding:
    var(--container-padding);

  /* @media(max-width:540px) {
    .container {
      padding: 32px;
      font-size: 40px;
    }
  } */
}


/* h1 {
  color: blue;
  background-color: red;
} */